.font-bold {
    font-weight: bold;
    /* Grosor en negrita */
}

.animation-duration-3000 {
    animation-duration: 10s !important;
}

::ng-deep p-image img {
    border-radius: 0.5em !important;
}

.kenburns-top {
    -webkit-animation: kenburns-top 20s linear infinite both;
    animation: kenburns-top 20s linear infinite both;
}

.bg-menu {
    background-image: url('../../../assets/photomenulogo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-orange:hover {
    background-color: #f1c607;
}

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}