<div class="card-container mt-3">
  <p-card class="text-center">
    <ng-template pTemplate="header">
      <div class="p-2 text-6xl uppercase font-bold">ventajas</div>
    </ng-template>
    <div class="grid">
      <div class="col transition-colors transition-duration-500 hover:bg-pink-600 mr-3 mb-3">
        <div class="card flex justify-content-center">
          <p-card header="ACCESIBILIDAD SIN LÍMITES">
            <i class="fa-solid fa-hands m-1 text-8xl mb-3"></i>
            <p class="m-0">
              No importa si estás en casa, en la oficina o incluso en un parque;
              nuestro bar online está siempre a tu disposición. Solo necesitas
              un dispositivo con conexión a Internet para explorar nuestro
              amplio menú de refrescos, bebidas alcohólicas y bocadillos. ¡Dile
              adiós a los horarios restrictivos y disfruta de tus favoritos
              cuando quieras!
            </p>
          </p-card>
        </div>
      </div>
      <div class="col transition-colors transition-duration-500 hover:bg-pink-600 mr-3 mb-3">
        <div class="card flex justify-content-center">
          <p-card header="SELECCIÓN INCOMPARABLE">
            <i class="fa-solid fa-section m-1 text-8xl mb-3"></i>
            <p class="m-0">
              Navega a través de una amplia gama de productos, desde bebidas
              clásicas hasta las más exóticas, y desde bocadillos sencillos
              hasta opciones gourmet. Todo esto sin tener que moverte de tu
              sitio. Además, podrás leer descripciones detalladas y ver imágenes
              de cada producto, ayudándote a tomar una decisión más informada.
            </p>
          </p-card>
        </div>
      </div>
      <div class="col transition-colors transition-duration-500 hover:bg-pink-600 mb-3">
        <div class="card flex justify-content-center">
          <p-card header="ENTREGA SEGURA Y RÁPIDA">
            <i class="fa-solid fa-truck mt-1 text-8xl mb-3"></i>
            <p class="m-0">
              Tu seguridad y comodidad son nuestras prioridades. Nuestro
              servicio de entrega está diseñado para llevar tus pedidos
              directamente a tu puerta, garantizando una entrega rápida y
              segura. Evita las multitudes, las filas y el traslado innecesario.
              Solo haz tu pedido y espera a que los sabores lleguen a ti, ahora
              solo toca disfrutar!
            </p>
          </p-card>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col transition-colors transition-duration-500 hover:bg-pink-600 mr-3 mt-3">
        <div class="card flex justify-content-center">
          <p-card header="OPCIONES PERSONALIZADAS">
            <i class="fa-brands fa-intercom mt-1 text-8xl mb-3"></i>
            <p class="m-0">
              Un bar online permite a los clientes personalizar su experiencia
              de manera que puede ser difícil en un establecimiento físico. Esto
              incluye la capacidad de buscar y seleccionar exactamente lo que
              quieren, personalizar su pedido con detalles específicos, o
              incluso programar sus pedidos para adaptarse a su rutina diaria.
            </p>
          </p-card>
        </div>
      </div>
      <div class="col transition-colors transition-duration-500 hover:bg-pink-600 mr-3 mt-3">
        <div class="card flex justify-content-center">
          <p-card header="EVITA EL DESPERDICIO">
            <i class="fa-solid fa-dumpster mt-1 text-8xl mb-3"></i>
            <p class="m-0">
              En un bar físico, puedes terminar comprando más de lo que
              realmente necesitas. En un bar online, tienes más control sobre
              tus pedidos, lo que puede ayudarte a evitar el desperdicio y
              ahorrar dinero. Además, la opción de comprar solo lo que necesitas
              puede ayudarte a llevar una vida más sostenible.
            </p>
          </p-card>
        </div>
      </div>
      <div class="col transition-colors transition-duration-500 hover:bg-pink-600 mt-3">
        <div class="card flex justify-content-center">
          <p-card header="EXPERIENCIA SEGURA">
            <i class="fa-solid fa-file-shield mt-1 text-8xl mb-3"></i>
            <p class="m-0">
              En un momento en que la seguridad y la salud son una preocupación
              primordial, un bar online puede proporcionar una experiencia sin
              contacto que minimiza los riesgos. No hay interacciones físicas,
              ni necesidad de manejar dinero en efectivo. Tu pedido se prepara y
              entrega de manera segura, directamente a tu puerta.
            </p>
          </p-card>
        </div>
      </div>
    </div>
  </p-card>
</div>

<app-galeria></app-galeria>