<div class="card-container mt-3">
  <p-card class="text-center">
    <ng-template pTemplate="header">
      <div class="p-2 text-6xl uppercase font-bold">ventajas</div>
    </ng-template>
    <div class="grid">
      <div class="col">
        <div class="card flex justify-content-center">
          <p-card header="ACCESIBILIDAD SIN LÍMITES">
            <i class="fa-solid fa-hands m-1 text-8xl mb-3"></i>
            <p class="m-0">
              No importa si estás en casa, en la oficina o incluso en un parque;
              nuestro bar online está siempre a tu disposición. Solo necesitas
              un dispositivo con conexión a Internet para explorar nuestro
              amplio menú de refrescos, bebidas alcohólicas y bocadillos. ¡Dile
              adiós a los horarios restrictivos y disfruta de tus favoritos
              cuando quieras!
            </p>
          </p-card>
        </div>
      </div>
      <div class="col">
        <div class="card flex justify-content-center">
          <p-card header="SELECCIÓN INCOMPARABLE">
            <i class="fa-solid fa-section m-1 text-8xl mb-3"></i>
            <p class="m-0">
              Navega a través de una amplia gama de productos, desde bebidas
              clásicas hasta las más exóticas, y desde bocadillos sencillos
              hasta opciones gourmet. Todo esto sin tener que moverte de tu
              sitio. Además, podrás leer descripciones detalladas y ver imágenes
              de cada producto, ayudándote a tomar una decisión más informada.
            </p>
          </p-card>
        </div>
      </div>
      <div class="col">
        <div class="card flex justify-content-center">
          <p-card header="ENTREGA SEGURA Y RÁPIDA">
            <i class="fa-solid fa-truck mt-1 text-8xl mb-3"></i>
            <p class="m-0">
              Tu seguridad y comodidad son nuestras prioridades. Nuestro
              servicio de entrega está diseñado para llevar tus pedidos
              directamente a tu puerta, garantizando una entrega rápida y
              segura. Evita las multitudes, las filas y el traslado innecesario.
              Solo haz tu pedido y espera a que los sabores lleguen a ti.
            </p>
          </p-card>
        </div>
      </div>
    </div>
  </p-card>
</div>
