<div class="mt-3">
  <p-fieldset legend="Artículos">
    <div class="grid text-center font-italic text-3xl md:text-5xl uppercase font-bold cursor-pointer">
      <div class="w-full md:w-6 lg:w-4">
        <span #spnFocusExpand class="focus-in-expand">Bebidas</span>
        <app-bebidas></app-bebidas>
      </div>
      <div class="w-full md:w-6 lg:w-4">
        <span #spnFocusExpand class="focus-in-expand">Bocadillos</span>
        <app-galeria-bocadillos></app-galeria-bocadillos>
      </div>
      <div class="w-full md:w-6 lg:w-4">
        <span #spnFocusExpand class="focus-in-expand">Snacks</span>
        <app-galeria-piqueos></app-galeria-piqueos>
      </div>
    </div>
  </p-fieldset>
</div>
