.focus-in-expand {
    -webkit-animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.font-bold {
    font-weight: bold;
    /* Grosor en negrita */
}

.text-gallery {
    line-height: 1.55;
    letter-spacing: 8px;
    word-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    font-family: cursive;
    color: #f1c607;
}

.bg-gallery {
    background-image: url('../../../assets/bg-ventajas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@-webkit-keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}