<div class="card flex justify-content-center">
  <p-sidebar
    [(visible)]="isCartVisible"
    (onHide)="onHideCart()"
    position="right"
    styleClass="w-full lg:w-auto"
  >
    <div class="card">
      <div class="text-center col-12">
        <i
          class="fa-solid fa-cart-shopping text-6xl carrito-color slide-bottom"
        ></i>
        <h3 class="uppercase">carrito de compra</h3>
        <hr style="border-top: 2px solid rgb(236, 35, 152)" />
      </div>
      <div class="col-12 md:col-12 lg:col-12 sm:flex-nowrap text-center">
        <div *ngIf="!products || products.length === 0">
          <p class="text-2xl">Tu carrito está vacío</p>
          <p><i class="fa-solid fa-face-sad-cry text-7xl carrito-color"></i></p>
          <span class="text-xl"
            >Agrega algún producto y empieza a disfrutar</span
          >
        </div>
        <div class="card">
          <p-toast
            [style]="isMobileSmall ? { maxWidth: '325px' } : {}"
          ></p-toast>
          <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
          <p-table [value]="products" [tableStyle]="{ 'min-width': '20rem' }">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                <span>Productos</span>
                <span>¡Con la compra de un whisky hielos gratis!</span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Nombre</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Unidades</th>
                <th>Subtotal</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>{{ product.name }}</td>
                <td>
                  <img
                    [src]="product.image"
                    [alt]="product.name"
                    width="100"
                    class="shadow-4 border-round-sm"
                  />
                </td>
                <td>{{ product.price | currency : "USD" }}</td>
                <td>
                  <div class="flex-auto">
                    <p-inputNumber
                      class="custom-input-number"
                      [(ngModel)]="product.quantity"
                      mode="decimal"
                      [showButtons]="true"
                      inputId="minmax-buttons"
                      (ngModelChange)="updateQuantity(product)"
                    >
                    </p-inputNumber>
                  </div>
                </td>
                <td>
                  {{ product.price * product.quantity | number : "1.2-2" }} EUR
                </td>
                <td>
                  <i
                    class="fa-solid fa-trash fa-xl delete-icon"
                    (click)="confirmDelete(product)"
                  ></i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
                <span>Total: {{ totalSum() }} EUR</span>
                <span>{{ products ? products.length : 0 }} productos</span>
              </div>
              <br />
              <span
                >Pedidos gratis a partir de 9.99 EUR en Igualada y <br />29.99
                EUR fuera de Igualada</span
              >
            </ng-template>
          </p-table>
        </div>
      </div>
      <div
        class="col-12 md:col-12 lg:col-12 sm:flex-nowrap text-center d-flex mt-4"
      >
        <p-button
          label="Seguir Comprando"
          styleClass="p-button-rounded p-button-warning m-2 flex-fill"
          (onClick)="onHideCart()"
        ></p-button>
        <p-button
          *ngIf="products && products.length > 0"
          label="Pagar"
          styleClass="p-button-rounded p-button-success m-2 flex-fill"
          (onClick)="onPay()"
        ></p-button>
      </div>
    </div>

    <p-dialog
      header="Selecciona el tipo de pago"
      [(visible)]="showPaymentDialog"
      [breakpoints]="{ '960px': '75vw' }"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <p>¿Cómo te gustaría pagar?</p>

      <div class="card flex flex-wrap justify-content-center gap-3">
        <button
          pButton
          label="Cash"
          class="p-button-warning"
          (click)="selectPaymentType(TypePay.Cash)"
        ></button>
        <button
          pButton
          label="Bizum"
          class="p-button-warning"
          (click)="selectPaymentType(TypePay.Bizum)"
        ></button>
        <button
          pButton
          label="Cancelar"
          (click)="cancelPayment()"
          class="p-button-danger"
        ></button>
      </div>
    </p-dialog>

    <p-dialog
      header="Selecciona Ubicación de entrega"
      [(visible)]="showUbicacionDialog"
      [breakpoints]="{ '960px': '75vw' }"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <p>Ubicación de entrega</p>

      <div class="card flex flex-wrap justify-content-center gap-3">
        <button
          pButton
          label="Igualada"
          class="p-button-warning"
          (click)="onUbicacion(TypeUbicacion.Igualada)"
        ></button>
        <button
          pButton
          label="Otro"
          class="p-button-warning"
          (click)="onUbicacion(TypeUbicacion.Otro)"
        ></button>
        <button
          pButton
          label="Cancelar"
          (click)="cancelPayment()"
          class="p-button-danger"
        ></button>
      </div>
    </p-dialog>
  </p-sidebar>
</div>
