<div class="card-container">
    <p-card header="Nuestra Compañía">
        <div class="card-content">
            <div class="text-content text-content">
                <p> 
                    Bienvenido a nuestra empresa, tu proveedor de confianza para cervezas, whiskies, rones y ginebras de alta calidad. 
                    Nacimos en la hermosa ciudad de Igualada con un sueño: llevar la alegría y la comodidad de una buena bebida directamente a tu puerta.
                </p>
                <p>
                    Entendemos que en el mundo acelerado de hoy, tu tiempo es valioso. Por eso, nos enorgullece ofrecer un servicio de venta online 
                    que te permite disfrutar de tus bebidas favoritas sin tener que levantarte del sofá ni hacer largas colas.
                </p>
                <p>
                    Nuestro compromiso es proporcionar un servicio rápido y fiable, asegurándonos de que tus productos lleguen a tu puerta de manera segura y a tiempo. 
                    Creemos que la comodidad no debería comprometer la calidad, por lo que solo ofrecemos productos de la más alta calidad.
                </p>
                <p>
                    Desde nuestros inicios en Igualada, hemos mantenido un enfoque constante en la satisfacción del cliente. Nuestra misión es simple: 
                    queremos que disfrutes de la tranquilidad y la comodidad de recibir tus bebidas favoritas directamente en tu hogar.
                </p>
                <p>
                    Gracias por elegirnos como tu proveedor de bebidas alcohólicas. Esperamos tener el placer de servirte pronto.
                </p>            </div>
            <div class="image-content">
                <img src="https://images.unsplash.com/photo-1571171637578-41bc2dd41cd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Bottles of beer">
            </div>
        </div>
    </p-card>
</div>
