<div class="card-container mt-3">
    <p-card header="Nuestra Compañía">
        <div class="card-content grid flex">
            <div class="text-content text-content col-12 md:col-6 text-justify text-base sm:text-xl">
                <p> 
                    <span class="font-bold">Bienvenido a nuestra empresa,</span>
                    <span> tu proveedor de confianza para cervezas, whiskies, rones y ginebras de alta calidad. Nacimos en la hermosa ciudad de Igualada con un sueño: llevar la alegría y la comodidad de una buena bebida directamente a tu puerta.</span>
                </p>
                <p>
                    <span>Entendemos que en el mundo acelerado de hoy, tu tiempo es valioso. Por eso, nos enorgullece ofrecer un servicio de venta online que te permite disfrutar de tus bebidas favoritas sin tener que levantarte del sofá ni hacer largas colas.</span>
                </p>
                <p >
                    <span class="font-bold">Nuestro compromiso</span> 
                    <span> es proporcionar un servicio rápido y fiable, asegurándonos de que tus productos lleguen a tu puerta de manera segura y a tiempo. Creemos que la comodidad no debería comprometer la calidad, por lo que solo ofrecemos productos de la más alta calidad.</span>
                </p>
                <p>
                    <span>Desde nuestros inicios en Igualada, hemos mantenido un enfoque constante en la satisfacción del cliente. Nuestra misión es simple: queremos que disfrutes de la tranquilidad y la comodidad de recibir tus bebidas favoritas directamente en tu hogar.</span>
                </p>
                <p>
                    <span class="font-bold">Gracias por elegirnos como tu proveedor de bebidas alcohólicas. Esperamos tener el placer de servirte pronto.</span>
                </p>            
            </div>
            <div class="image-content col-12 md:col-6 flex align-items-center justify-content-center">
                <p-image src="../../../assets/baronline.png" alt="baronlinephoto" [width]="width" [preview]="true"></p-image>
            </div>
        </div>
    </p-card>
</div>
