<div class="card flex justify-content-center mt-3" id="footerId">
  <p-card header="Teach Bar Online" class="w-full">
    <div class="grid bg-black-alpha-90 p-3 border-round-2xl">
      <div class="col-12 md:col-6 lg:col-4 sm:flex-nowrap text-center">
        <span class="text-2xl font-bold font-italic text-white letter-sp7">Horario</span>
        <p class="text-white text-base md:text-lg lg:text-2xl">
          De lunes a domingo las 24h
        </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 sm:flex-nowrap text-center">
        <span class="text-2xl font-bold font-italic text-white letter-sp7"
          >¿Tienes dudas?</span
        >
        <p class="text-white text-base md:text-lg lg:text-2xl">
          ronnyasanza@gmail.com
        </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 sm:flex-nowrap text-center">
        <span class="text-2xl font-bold font-italic text-white mr-2 letter-sp7"
          >Síguenos</span
        >
        <p>
          <a href="https://wa.me/+34658230355">
            <p-avatar
              styleClass="mr-2"
              size="large"
              [style]="{ 'background-color': 'green' }"
              shape="circle"
            >
              <i class="fa-brands fa-whatsapp"
              style="color: white; font-size: 1.25em"
              ></i>
            </p-avatar>
          </a>
          <a href="https://instagram.com/atechnologiesesp">
            <p-avatar
              styleClass="mr-2"
              size="large"
              [style]="{ 'background-color': '#cd00ac' }"
              shape="circle"
            >
              <i class="fa-brands fa-instagram"
              style="color: white; font-size: 1.25em"></i>
            </p-avatar>
          </a>
          <a href="https://www.tiktok.com/@atechnologiesesp">
            <p-avatar
              styleClass="mr-2"
              size="large"
              [style]="{ 'background-color': 'black' }"
              shape="circle"
            >
              <i class="fa-brands fa-tiktok"
              style="color: white; font-size: 1.25em"></i>
            </p-avatar>
          </a>
        </p>
      </div>

      <div class="col-12 lg:col-6 sm:flex-nowrap">
        <span class="text-2xl font-bold font-italic text-white letter-sp7"
          >Contáctanos</span
        >
        <span class="p-float-label mt-4">
          <input pInputText id="email" [(ngModel)]="email" class="w-full" />
          <label htmlFor="email">Correo electrónico</label>
        </span>
        <span class="p-float-label mt-4">
          <textarea
            id="float-input"
            rows="5"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            [(ngModel)]="message"
            class="w-full"
          ></textarea>
          <label for="float-input">Mensaje</label>
        </span>
        <div class="mt-2">
          <p-button
            label="Enviar"
            [disabled]="!email || !message"
            (click)="sendForm(email, message)"
          ></p-button>
        </div>
        <p-messages></p-messages>
        <div class="card flex flex-column align-items-center gap-2">
          <p-dialog
            header="Mensaje enviado con éxito"
            [(visible)]="visibleModal"
            [position]="position"
            class="card-dialog"
          >
            <p>
              <span style="font-size: 1.25em"
                >Pronto te escribiremos.<br />
                Recuerda seguirnos en nuestras redes sociales.</span
              ><br /><br />
              <span style="font-size: 1.25em">Muchas gracias!</span>
            </p>
          </p-dialog>
        </div>
      </div>
      <div
        class="col-12 lg:col-6 sm:flex-nowrap"
      >
        <img
          class="w-7 md:w-12rem lg:w-14rem xl:w-16rem shadow-2 block xl:block mx-auto border-round ml-5"
          src="../../../assets/logobar.png"
          alt="TeachBarOnline"
        />
      </div>
      <div class="col-12 sm:flex-nowrap text-center">
        <span class="font-italic text-white"
          >Web desarrollada por A-Technologies</span
        >
      </div>
    </div>
  </p-card>
</div>
