h1 {
    margin: 0.25em 1em 0.25em;
    font-family: fantasy;
}

.card {
    transition: all 0.5s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.card.hide {
    transform: translateY(-100%);
}

:host ::ng-deep .p-menubar .p-menuitem-link {
    font-size: 1.25em !important;
}

@media (max-width: 375px) {
    .text-2xlf {
        font-size: 1.5rem;
    }

    p-toast {
        max-width: 350px !important;
    }
}