<div class="bg-review mt-3 p-3">
  <div class="card">
    <div class="grid text-white text-center">
      <div class="col-12 font-bold text-shadow">
        <h2 class="uppercase text-2xl md:text-4xl xl:text-6xl m-1 testimonio">
          Testimonios
        </h2>
        <p class="text-3xl md:text-4xl md:text-5xl xl:text-8xl m-1">
          Nuestros clientes nos eligen
        </p>
      </div>

      <div class="w-full md:w-6 lg:w-4 p-5 font-bold">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="p-avatar"
          shape="circle"
        ></p-avatar>

        <p
          class="text-base md:text-xl lg:text-2xl xl:text-4xl pl-4 pr-4 md:pl-6 md:pr-6 lg:pl-8 lg:pr-8"
        >
          “Tienen cervezas muy buenas y las tapas que ponen estan muy bien y
          abundantes”
        </p>
        <p class="text-base md:text-xl">JULIA ZAMORA</p>
      </div>
      <div class="w-full md:w-6 lg:w-4 p-5 font-bold">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
          styleClass="p-avatar"
          shape="circle"
        ></p-avatar>

        <p
          class="text-base md:text-xl lg:text-2xl xl:text-4xl pl-4 pr-4 md:pl-6 md:pr-6 lg:pl-8 lg:pr-8"
        >
          “Restaurante con excelente variedad de bocadillos frios y calientes,
          sin menú pero los bocatas hinchan bien. Servicio rápido y calidad
          precio acorde a lo pedido. Lo más plus el postre.”
        </p>
        <p class="text-base md:text-xl">ANDRES ORZANA</p>
      </div>
      <div class="w-full md:w-6 lg:w-4 p-5 font-bold">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
          styleClass="p-avatar"
          shape="circle"
        ></p-avatar>

        <p
          class="text-base md:text-xl lg:text-2xl xl:text-4xl pl-4 pr-4 md:pl-6 md:pr-6 lg:pl-8 lg:pr-8"
        >
          “Hamburguesa Crispy tejana XXL muy rica!”
        </p>
        <p class="text-base md:text-xl">ALEJANDRA MUÑOZ</p>
      </div>
    </div>
  </div>
</div>
