<div class="bg-review mt-3 p-3">
  <div class="card">
    <div class="grid text-white text-center">
      <div class="col-12 font-bold">
        <h2 class="uppercase text-2xl md:text-4xl xl:text-6xl m-1">
          Testimonios
        </h2>
        <p class="text-4xl md:text-5xl xl:text-8xl m-1">
          Nuestros clientes nos eligen
        </p>
      </div>

      <div class="w-full md:w-6 lg:w-4 p-5 font-bold">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          styleClass="p-avatar"
          shape="circle"
        ></p-avatar>

        <p class="text-xl lg:text-2xl xl:text-4xl pl-8 pr-8">
          “Tienen cervezas muy buenas y las tapas que ponen estan muy bien y
          abundantes”
        </p>
        <p class="text-xl">JULIO SUAREZ</p>
      </div>
      <div class="w-full md:w-6 lg:w-4 p-5 font-bold">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png"
          styleClass="p-avatar"
          shape="circle"
        ></p-avatar>

        <p class="text-xl lg:text-2xl xl:text-4xl pl-8 pr-8">
          “Restaurante con excelente variedad de bocadillos frios y calientes,
          sin menú pero los bocatas hinchan bien. Servicio rápido y calidad
          precio acorde a lo pedido. Lo más plus el postre.”
        </p>
        <p class="text-xl">MARIO ALONSO</p>
      </div>
      <div class="w-full md:w-6 lg:w-4 p-5 font-bold">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
          styleClass="p-avatar"
          shape="circle"
        ></p-avatar>

        <p class="text-xl lg:text-2xl xl:text-4xl pl-8 pr-8">
          “Hamburguesa Crispy tejana XXL muy rica!”
        </p>
        <p class="text-xl">GLENDY ZAMORA</p>
      </div>
    </div>
  </div>
</div>
