<div class="card-container mt-3">
    <p-card header="Cómo Comprar en Nuestra Tienda">
        <div class="card-content grid flex">
            <div class="text-content text-content col-12 md:col-6 text-justify text-base sm:text-xl">
                <p>
                    <span class="font-bold">Selecciona tus Productos:
                    </span> Explora nuestro catálogo y selecciona las bebidas que prefieras. Puedes agregar tus bebidas favoritas directamente a tu carrito desde nuestra sección de artículos.
                </p>
                <p>
                    <span class="font-bold">Realiza tu Pedido:
                    </span> Una vez hayas agregado tus productos al carrito, podrás proceder al formulario de pedido. Ahí, deberás proporcionar tus datos de contacto y especificar la fecha y lugar de entrega. También puedes realizar tu pedido por Whatsapp, enviándonos un mensaje con la descripción de tu pedido.
                </p>
                <p>
                    <span class="font-bold">Elige tu Método de Pago:
                    </span> Para hacer el proceso aún más sencillo, ofrecemos dos métodos de pago para tu conveniencia: Bizum y efectivo. Podrás seleccionar tu método de pago preferido al finalizar tu pedido.
                </p>
                <p>
                    <span class="font-bold">Recibe tu Pedido:
                    </span> Para que puedas disfrutar de nuestras bebidas alcohólicas en la comodidad de tu hogar, ofrecemos servicio de entrega en las áreas de Igualada y Martorell. ¡Estamos emocionados de ser tu proveedor de confianza para tus bebidas favoritas!
                </p>
            </div>
            <div class="image-content col-12 md:col-6 flex align-items-center justify-content-center">
                <p-image src="../../../assets/ronphoto.png" alt="baronlinephoto" [width]="width" [preview]="true"></p-image>
            </div>
        </div>
    </p-card>
</div>
