<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div class="cart-button-container right">
  <a class="btn-open-cart block mb-5">
    <img
      src="../assets/icono-de-circulo-de-carrito-de-compras.png"
      alt="Contactar por Whatsapp"
      class="icon-img"
      (click)="openCart()"
    />
  </a>

  <a
    href="https://wa.me/+34658230355?text=Hola, me gustaría pedir información acerca de unos productos."
    class="btn-whatsapp"
    target="_blank"
  >
    <img
      src="../assets/whatsapp-icon-transparent.png"
      alt="Contactar por Whatsapp"
      class="icon-img"
    />
  </a>
</div>
<div class="cart-button-container left" id="scrollToTopButton">
  <i
    class="fa-solid fa-up-long text-4xl cursor-pointer"
    style="color: #f1c607"
    (click)="scrollToTop()"
  ></i>
</div>

<app-cart
  [isCartVisible]="isCartVisible"
  (isCartVisibleChange)="isCartVisible = $event"
></app-cart>
